Load the data filtering by airport_fee.

In [ ]:
df = spark.sql("select count(*) from Database1.nyc_taxi where airport_fee != 0")

Show the data for troubleshooting.

In [ ]:
df.show()

Write the data to a new parquet.

In [ ]:
df.write.parquet("output/proto.parquet")